* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0px;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.Navbar {
    display: flex;
    background-color: #25283D;
    color: #EFD9CE;
    padding: 1em;
}

.leftsideNav {
    display: flex;
    align-items: center;
    margin-left: 2em;
    font-weight: bolder;
    font-size: larger;
}

.Navbar ul {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 1em;
}

li {
    padding: 1em;
    list-style-type: none;
}

.mainContent {
    gap:7em;
    justify-content: center;
    margin-top: 3em;
}

.breadCard {
    width: 10em;
    justify-content: center;
    border: #25283D 2px solid;
    border-radius: 18px;
}

.breadCard h4 {
    font-size: larger;
}

.breadCard img{
    width: 100%;
    margin: 1em 1em;
}

.breadDescription {
    padding: 1em;
}

#ContactButton {
    border: 2px #8F3985 solid;
    border-radius: 15px;
    background-color: #A675A1 ;
    padding: 7px;
    cursor: pointer;
}

#ContactButton:hover {
    background-color: #8F3985;
}